@config "../tailwind.config.js";
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@layer theme, base, components, utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE et Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@font-face {
  font-family: "Glacial Indifference";
  src:
    url("/fonts/GlacialIndifference-Bold.woff2") format("woff2"),
    url("/fonts/GlacialIndifference-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Glacial Indifference";
  src:
    url("/fonts/GlacialIndifference-Regular.woff2") format("woff2"),
    url("/fonts/GlacialIndifference-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  /* width: 100vw;
  height: 100vh; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
